<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <div><span><%= userInfo.userName %></span> 님 환영합니다.</div>
    <div>성별 : <span><%= userInfo.gender %></span></div>
    <div>생년월일 : <span><%= userInfo.year %>년<%= userInfo.month %>월<%= userInfo.day %>일</span></div>
    <div>관심사 : <span><%= userInfo.favorite %></span></div>
    <div>좋아하는 색상 : <span><%= userInfo.color %></span></div>
    <div>블로그 주소 : <span><%= userInfo.url %></span></div>
    <br />
</body>
</html>